@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.navigation {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  width: 20%;
  height: 100vh;
  float:left;
}

.navigation h1 {
  margin: 0;
  margin-bottom: 50px;
  padding: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  text-align: left;
  color:rgba(0, 0, 0, 0.814);
}


.non-active {
  font-size: 35px;
  padding: 15px 35px 15px 35px;
  text-decoration: none;
  color:rgba(0, 0, 0, 0.514);
  display:block;
  text-align: left;
}

.active {
  color:black;
  font-weight: 500
}

.addTransaction {
  font-size: 25px;
  padding: 15px 25px 15px 25px;
  text-decoration: none;
  color:white;
  display:block;
  text-align: left;
  font-weight: 400;
  text-align: center;
  background-color:#FC7C7B;
  border-radius: 10px;
  
  width:15%;
  position: fixed;
  bottom: 2.5%;
  left:1%;  
  display: flex;
  justify-content: space-between;
  align-content: center;
 align-items: center;
}